body {
  background-color: green;
  font-family: "Roboto", sans-serif;
}
.main {
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #FFFFFFDF;
    border-radius: 5px;
}
.section {
  margin-bottom: 40px;
}
h2 {
  font-family: 'Fira Sans', sans-serif;
}
.quote {
  font-style: italic;
  background-color: #0000001F;
  padding: 5px;
  font-family: "sans-serif";
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
li {
  border: solid;
  padding: 10px;
  margin-bottom: 15px;
}
/* Can't get the whole div to be a link */
.block_link {
  text-decoration: none;
  color: inherit;
}
.link_list li {
  list-style: circle;
  margin-left: 20px;
  border: none;
}
footer {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 6.25%;
  color: white;
}
